language: python
python:
- 3.9
- 3.8
- 3.7
install: pip install -U tox-travis
script: tox
deploy:
  password:
    secure: Bqce/HBE1YKUikTuT0Yn6/EVbeu+WnbCACREZtp3hIBmSQlMo7RJThAnGJMmTLNidr+vLb6DqJZIPC65IqlwR3svDVXCey/3L9WkVn92kWc0JEuNlG5CfX44HpOgLsPZjXpr+6PZIJSQm5BMma+50lIMns59UsHAznkEb0eopOPSfTxenBgmN8N7CHbcmggLhYBohxPCIpV+BR+N6oTK39ZmJaq41nQSH801vwu2+f268BUmvj7DYEb+xEhngi1a1QHn/oCg0+wNs+XK/sUW3nNjc/lrWQ0DWfTnc8ZAoAEdDMGzNqnBdqXODd2uG0uYlwBwJqhPm56Op5VgyZK3EeYM4d4AYNI6i5g6B/WZ4WGUVdjFShPCGV65bx+5hl9Y+uBljnXynX2rWlGddTslsvfwAClTbPTvl1pVlOrNe7YavwRHMBu7GzfjocpSiqU37028pe7+vW71chwYBt53ZTifQ8rx3emas+sMS/p6g3VCpKDjQNnGHNR7sZxu/gbH/HOh+rzBc38Z8Lk+rb+V2afOY5w3sdd4WabSoh8gyAEt4r39xNiQyjWh5LHQ7MrzGMq42eNh7B3XX4zjOu9j/vBXDZdXfaiv14riIvi2hCAEV94xLpv5gz5kSkWJ16Ici54buWYzdlX+yudOHUSMc4eVcA/T5hk7WIvVVT+xza4=
