# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Package

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    -   name: Configure cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ runner.os }}-poetry-publish-${{ hashFiles('poetry.lock') }}
    - name: Install dependencies
      run: |
        python -m pip install pip --upgrade
        python -m pip install poetry==1.1.11
        python -m pip install poetry-dynamic-versioning==0.13.0
        python -m poetry install
    - name: Run build
      run: |
          python -m poetry build
    - name: Run publish
      run: |
          poetry publish --username __token__ --password "${PYPI_TOKEN}"
      env:
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
